.chat-space {
    display: none;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
}

.chat-room {
    height: 100%;
    margin: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(135, 108, 153, 1);
    padding: 10px 0 0 10px;
    overflow-y: scroll;
}

.chat-message {
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
}

.chat-message input {
    border: 1px solid rgba(135, 108, 153, 1);
    color: black;
    font-size: 14px;
}

.chat-message button {
    border: 0;
    background: rgba(77, 56, 75, 1);
    color: white;
    font-size: 14px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

.chat-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#chat-input {
    width: 70%;
    display: block;
}

#btn-send {
    display: block;
    flex: 1;
}

#chat-public-key, #chat-session-key, #chat-friend-public-key, #chat-friend-name  {
    width: 100%;
}

#chat-public-key::-webkit-input-placeholder {
    color: rgba(77, 56, 75, 1);
}
#chat-session-key::-webkit-input-placeholder {
    color: rgba(77, 56, 75, 1);
}
#chat-friend-public-key::-webkit-input-placeholder {
    color: rgba(77, 56, 75, 1);
}
#chat-friend-name::-webkit-input-placeholder {
    color: rgba(77, 56, 75, 1);
}